In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("16feb.csv", skipinitialspace=True)

In [3]:
df.replace("-","",inplace=True)

In [4]:
df["CHANGE"]=df["CLOSE_PRICE"]-df["PREV_CLOSE"]

In [7]:
df["DELIV_PER"]=pd.to_numeric(df['DELIV_PER'])

In [9]:
data=df["SYMBOL"][(df.SERIES=="EQ")&(df.DELIV_PER>=90)&(df["CHANGE"]>0)]

In [10]:
ndf=pd.DataFrame(data)

In [11]:
ndf

          SYMBOL
194     AXISCETF
478    DSPN50ETF
495   EBBETF0425
496   EBBETF0430
497   EBBETF0431
576     FMGOETZE
578        FOCUS
606      GENESYS
786     ICICI500
808   ICICISILVE
940    IVZINGOLD
987   JPOLYINVST
992        JSWHL
1172    MAN50ETF
1200   MATRIMONY
1259     MONARCH
1327  NETFNIF100
1328    NETFNV20
1494  PRAKASHSTL
1522         PVP
1622      SAGCEM
1677  SETF10GILT
1735  SHAHALLOYS
1781      SILVER
1801     SMSLIFE
1811     SOMATEX
1962        TECH
1963      TECHIN
2064    UTISXN50
2138    WESTLIFE
2163  ZENITHEXPO

In [12]:
ndf.shape()

TypeError: 'tuple' object is not callable