In [1]:
import pandas as pd

In [13]:
df1=pd.read_csv('bhav10.csv',skipinitialspace=True)

In [14]:
df1.head()

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,Unnamed: 13
0,20MICRONS,EQ,85.75,91.75,84.40,88.65,88.50,85.55,430856,38287657.20,10-FEB-2022,5063,INE144J01027,NaN
1,21STCENMGM,EQ,38.15,38.15,38.15,38.15,38.15,38.90,2179,83128.85,10-FEB-2022,36,INE253B01015,NaN
2,3IINFOLTD,EQ,70.10,71.20,70.10,70.10,70.10,73.75,800413,56119100.40,10-FEB-2022,3689,INE748C01038,NaN
3,3MINDIA,EQ,24001.00,24347.00,23656.60,23767.95,23755.00,24083.15,2447,58543984.30,10-FEB-2022,1206,INE470A01017,NaN
4,3PLAND,BE,18.75,18.95,17.85,18.80,18.80,18.75,11219,203382.15,10-FEB-2022,105,INE105C01023,NaN

In [15]:
print(df1['HIGH'].dtype)

float64