In [1]:
import pandas as pd

In [9]:
df1=pd.DataFrame([[1,2,3,4,4,5],[2,34,45,56,7,4],[234,245,64,57,4,6],[24,43,53,64,65,4],[35,46,67,6,5,4],[2,53,46,56,57,7]],columns=['a','b','c','d','e','f'])

In [10]:
df1

     a    b   c   d   e  f
0    1    2   3   4   4  5
1    2   34  45  56   7  4
2  234  245  64  57   4  6
3   24   43  53  64  65  4
4   35   46  67   6   5  4
5    2   53  46  56  57  7

In [14]:
df1.iloc[1,1]

34

In [15]:
df1.iloc[3,4]

65

In [17]:
df1.iloc[0:3,0:3]

     a    b   c
0    1    2   3
1    2   34  45
2  234  245  64

In [18]:
df1.shape

(6, 6)